body {
    background: url(../images/The-Colors-of-Universe-Wallpaper.jpg);
    color: whitesmoke;
    font-size: 20px;
}

.glow {
    animation:  glow 3s infinite;
    color: #210f1a;
    font-size: 100px;
    font-weight: bold;
    width: 900px;
    margin: 0 auto;
    text-align: center;
    text-shadow: 1px 1px #104e8b;
    font-family: 'Megrim', cursive;
  }

  @keyframes glow {
 
    
    15% {
      text-shadow: 2px 2px 10px #104e8b,
                   -2px -2px 10px rgba(255, 255, 255, 1);
    }
    30% {
      text-shadow: 2px 2px 4px rgba(255, 255, 255, .7),
                   -2px -2px 4px rgba(255, 255, 255, .7);
    }
    50% {
      text-shadow: 20px 20px 50px rgba(255, 255, 255, .5),
                   -20px -20px 50px rgba(255, 255, 255, .5);
    }
  }
img {
  border-radius: 25px;
}

  h1 {
      color: #104e8b;
      font-family: 'Megrim', cursive;
      font-size: 32px;
      text-align: center;

  }

 .guess-info {
      text-align: center;
      padding: 10px;
      margin-top: 20px;
  }

  #currentword-text {
    font-size: 20px;
  }

  #category-text {
    padding-top: 20px;
  }

  #wrapper {
      background:  #210f1a;
      opacity: 0.75;
      text-align: center;
      font-weight: bold;
      border-radius: 25px;
      position: relative;
  } 

  #main-info {
    text-align: center;
    margin: auto;
    padding-top: 10px;
  }
  #score {
    text-align: center;
    margin: auto;
    font-size: 20px;
    width: 100%;
    padding: 30px;
    border-radius: 25px;
    position: absolute;
    bottom: 5px;
    

  }